.account-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    width: 75%;
    margin: 3rem 0;
}

.account__dashboard {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.account__dashboard__profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account__dashboard__list {
    list-style-type: none;
    font-size: var(--font-size-regular);
}

.account__dashboard__list > li {
    padding: 1rem 0;
}

.account__dashboard__list > li > a {
    position: relative;
}

.account__dashboard__list > li > a::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--gradient);
    transition: width 0.3s ease;
}

.account__dashboard__list > li.active > a::after {
    width: 100%;
}

.account__section {
    width: 70%;
}

.profile-picture {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--box-shadow-gradient);
}

.profile-picture img {
    width: 100%;
}

.account__settings__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: 2px solid #404040;
}

.account__settings__content > p:first-of-type {
    font-size: var(--font-size-medium);
    margin: 0;
}

.account__dashboard > p:first-of-type {
    font-size: var(--font-size-regular);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.account__settings__content > .account__subtext {
    font-size: var(--font-size-regular);
    color: #aaaaaa;
    padding: 0.5rem 1rem;
}

.account__dashboard > .account__subtext {
    font-size: var(--font-size-small);
    color: #aaaaaa;
    padding: 0.5rem 0;
    margin: 0;
}

.account__button, .account__button__show, .account__button__favorite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border: 2px solid #aaaaaa;
    border-radius: var(--border-radius);
    min-width: 7.5rem;
    background: none;
    color: var(--text-color);
    transition: transform 0.5s ease;
}

.account__button:focus-visible,
.account__button__show:focus-visible,
.account__button:hover,
.account__button__show:hover,
.account__button__favorite:focus-visible,
.account__button__favorite:hover {
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: transform 0.5s ease;
}

.account__button.sell {
    margin-top: 0;
}

.forms {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.forms > .form__popup {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #1d1d1d;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-black);
    min-width: 20rem;
}

.form__popup__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form__popup__head > .close-btn {
    user-select: none;
    cursor: pointer;
    padding-left: 1rem;
}

.form__popup.hidden, .forms.hidden {
    display: none !important;
}

.form__popup form {
    display: flex;
    flex-direction: column;
}

.form__popup__head ~ div {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #404040;
}

.account__button {
    padding: 0.5rem;
    border: 2px solid #aaaaaa;
    border-radius: var(--border-radius);
    min-width: 7.5rem;
    background: none;
    color: var(--text-color);
    transition: transform 0.5s ease;
    margin-top: 1.5rem;
}

.account__button:focus-visible,
.account__button:hover {
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: transform 0.5s ease;
}

.form__popup form input {
    background: #1d1d1d;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px inset rgba(255, 255, 255, 0.2);
    border-radius: var(--border-radius);
}

.account__wallet {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5rem;
    margin: 2rem 0 3rem 0;
}

.account__wallet__card {
    min-width: 50%;
    min-height: 15rem;
    background: var(--gradient);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    border-radius: var(--border-radius);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account__wallet__card > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account__wallet__card > div > span,
.account__wallet__card > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #1d1d1d;
}

.account__wallet__card__logo {
    height: 2rem;
    margin-bottom: 0.5rem;
}

.account__wallet__card > div > div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.account__wallet__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.account__wallet__info > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0.5rem 0;
    color: var(--text-color);
    font-size: var(--font-size-regular);
}

.account__wallet__info > div > .account__wallet__info__content {
    color: #aaaaaa;
    padding: 0 1rem;
}

.account__wallet__info > .account__button,
.account__wallet__info > .account__button__show {
    width: 0;
    margin: 1rem 0;
}

.account__nfts__wrapper, .account__favorites__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0;
    border-bottom: 2px solid #404040;
}

.account__nft, .account__favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.account__nft img, .account__favorites img {
    width: 30%;
    height: 30%;
}

.account__transaction {
    width: 100%;
}

.account__transaction__table {
    width: 100%;
    border: none;
}

.account__transaction__table .table-header {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    font-size: var(--font-size-regular);
    font-family: Stellar-Medium, sans-serif;
    font-weight: 500;
}

.account__transaction__table .table-row {
    display: flex;
    width: 100%;
    padding: 1.5rem 0;
    border-bottom: 1px solid #aaaaaa;
}

.account__transaction__table .table-row:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.account__transaction__table .table-data,
.account__transaction__table .header__item {
    flex: 1 1 20%;
    text-align: center;
    padding: 0 0.5rem;
}

.account__transaction__table .header__item {
    text-transform: uppercase;
}

.account__transaction__table .table-data__item {
    margin: 0;
    text-align: left;
}

.account__transaction__table .table-data__item.sub {
    padding: 0.5rem 0;
    color: #aaaaaa;
    font-size: var(--font-size-small);
}

.account__transaction__table .filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.account__transaction__table .filter__link::after {
    content: '';
    position: absolute;
    right: 1.5rem;
    color: white;
    font-size: var(--font-size-regular);
    top: 50%;
    transform: translateY(-50%);
}

.account__transaction__table .filter__link.desc::after {
    content: '(desc)';
}

.account__transaction__table .filter__link.desc::after {
    content: '(asc)';
}

@media (max-width: 900px) {
    .account-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .account__dashboard {
        width: 120%;
        position: sticky;
        top: 5rem;
        padding: 1.5rem 1rem;
        background-color: var(--background-color);
        box-shadow: var(--box-shadow-black);
    }
    .account__dashboard__profile {
        flex-direction: row;
        gap: 2rem;
        width: 100%;
    }
    .account__dashboard__profile:hover {
        cursor: pointer;
    }
    .account__dashboard__profile .profile-picture {
        width: 15%;
    }
    .account__dashboard__profile::after {
        content: '\25BC';
        font-size: 1.2em;
        color: #ffffff;
        display: block;
        text-align: center;
        margin-top: 0.8rem;
        cursor: pointer;
        margin-left: auto;
    }
    .account__dashboard__list {
        display: none;
        padding: 0;
        margin: 1rem 0;
    }
    .account__wallet {
        flex-direction: column;
        gap: 3rem;
        margin-top: 5rem;
    }
    .account__section, .account__wallet__card,
    .account__wallet__info {
        width: 100%;
    }
}