.checkout__page-container{
    display: flex;
    flex-direction: column;
    min-height: 75vh;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.checkout__container {
    width: 100%;
    max-width: 120rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 3rem;
    flex: 1;
    padding: 2rem;
}

.checkout__cart {
    background: rgba(102, 102, 102, 0.5);
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: flex;
    text-align: center;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.checkout__cart h2 {
    align-self: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}
.checkout__cart__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-inline: 1rem;
}

#amount-of-items{
    font-size: 2rem;
    text-transform: uppercase;
}

#checkout-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.nft__price-coin {
   scale: 70%;
    margin: 0.8rem;
}

.checkout__item {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    box-shadow: inset 0 0 1rem #494848;
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    position: relative;
}

.checkout__item__thumbnail {
    width: 100px;
    height: 100px;
}

.checkout__item__left {

}
.checkout__item__title {

}

.checkout__item__subtitle {
    font-size: 1rem;
}

.checkout__item__right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.checkout__item__price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.checkout__item__remove-btn {
    background-color: #ef4444;
    border-radius: var(--border-radius);
    width: 25px;
    height: 25px;
    color: white;
    border: none;
    justify-self: right;
    margin-right: 1.2rem;
    margin-top: .7rem;
}

.checkout__overview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.checkout__price-overview{
    background: rgba(102, 102, 102, 0.5);
    padding-block: 2rem;
    padding-inline: 3rem;
    border-radius: 2rem;
    text-transform: uppercase;
    width: 100%;
}

.checkout__price-overview h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    white-space: nowrap;
    gap: 2rem;
}

#checkout-purchase{
    display: block;
    margin: 0 auto;
}

.checkout__connect-wallet {
    background: rgba(102, 102, 102, 0.5);
    padding: 3rem;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-top: 2rem;
    gap: 2rem;
    font-size: 1.5rem;
}

.checkout__connect-wallet h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Additional Guest-Styles */

.guest__container{
    background: rgba(102, 102, 102, 0.5);
    padding: 3rem;
    border-radius: 2rem;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    font-size: 1.5rem;
}

.checkout__guest-auth {
    background: rgba(102, 102, 102, 0.5);
    padding-block: 2rem;
    padding-inline: 3rem;
    gap: 1.5rem;
    border-radius: 2rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.checkout__guest-auth p {
    margin-top: 0;
}

.checkout__guest-auth .secondary.holo{
    width: 100%;
}

/* Mobile view */

@media (max-width: 1120px){
    body {
        font-size: 0.9rem;
    }

    .checkout__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;

    }

    .checkout__cart,
    .checkout__overview {
        width: 100%;
        padding: inherit;
    }

    .checkout__cart__info {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .checkout__cart h2 {
        font-size: 2rem;
    }

    #amount-of-items {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .checkout__item {
        text-align: center;
    }

    .checkout__item__thumbnail {
        margin: 0 auto;
        width: 6rem;
        height: 6rem;
    }

    .checkout__item__price {
        align-items: center;
    }

    .nft__price-coin{
        scale: 0.9;
    }

    .checkout__price-overview h2 {
        flex-direction: column;
        gap: 1rem;
    }

    #checkout-purchase {
        width: 100%;
    }

    .checkout__connect-wallet {
        gap: 1rem;
    }

    .checkout__guest-auth {
        gap: 1rem;
    }

    button.secondary.holo {
        width: 100%;
    }
    #checkout-items{
        gap: 1.5rem;
    }
}

@media (max-width: 400px) {
    .checkout__item {
        grid-template-columns: 1fr;
        padding: 0.5rem;
    }
    .checkout__item__right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;
        padding: 0.5rem 0;
    }
    .checkout__item__remove-btn {
       scale: 80%;
        font-size: 0.8rem;
        margin: 0;
    }
    .nft__price-coin {
        margin: 0 0.25rem;
    }
}