.docs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80vw;
    background-color: rgba(143, 143, 143, 0.27);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
}

section {
    width: 100%;
}

img {
    max-width: 100%;
}

table {
    background-color: black;
    border: 2px solid white;
    color: white;
    border-collapse: collapse;
}
table tr, table td, table th {
    padding: .5rem;
    border: 1px solid white;
}