

.login-container{
    display: flex;
    justify-content: left;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    padding-left: 10%;
}

.login-box{
    background: rgba(102, 102, 102, 0.5);
    padding: 5rem;
    border-radius: 2rem;
    text-align: center;
    width: 30rem;
    margin-top: 5rem;
    z-index: 1;
}

.login-box-heading{
    text-transform: uppercase;
    font-size: 3rem;
}

.login-box-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}

.login-box-input{
    padding: 2rem;
    border: none;
    border-radius: 2rem;
    background: rgba(102, 102, 102, 0.5);
    font-size: 1rem;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.login-box .login-box-input::placeholder {
    color: white !important;
}

.login-box-register-button{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: Manrope, sans-serif;
    cursor: pointer;
    padding: 0;
}

.login-box-button{
    padding: 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    background: #66666680;
    color: white;
    margin-top: 1rem;
    text-transform: uppercase;
    font-family: Manrope, sans-serif;
}

.login-box-button:hover {
    background: rgba(125, 125, 125, 0.5);
    transition: background-color 0.3ms;
}

@media (max-width: 1024px) {
    .login-box-heading {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .login-box-input {
        padding: 1rem;
        font-size: 0.9rem;
    }

    .login-box-button {
        padding: 1.2rem;
        font-size: 0.9rem;
    }

    .login-container {
        padding-left: 5%;
        padding-right: 5%;
        justify-content: center;
    }
}

.login-error {
    color: red;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    max-width: 30rem;
    box-sizing: border-box;
}