

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

.logout-box {
    background: rgba(102, 102, 102, 0.5);
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    width: 25rem;
}

.logout-box-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.logout-box-button {
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: Manrope, sans-serif;
    text-transform: uppercase;
    background: #66666680;
    color: white;
    transition: background-color 0.3s ease;
}

.logout-box-button:hover {
    background: rgba(125, 125, 125, 0.5);
}

/* Media query for smaller devices */
@media (max-width: 1024px) {
    .logout-box {
        width: 90%; /* Adjust width for smaller screens */
        padding: 2rem;
    }

    .logout-box-heading {
        font-size: 1.6rem;
    }

    .logout-box-button {
        padding: 1rem;
        font-size: 0.9rem;
    }
}